// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";

body {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: "AvenirNext-Regular-Mint", "Helvetica Neue", Helvetica, Arial !important;
}

#container {
	margin-top:0;
	padding-top: 0;
	margin-bottom: 80px;
}

#middle_block {
	margin-top:0;
	height:auto;
}

#form {
	background-color:white;
	height: auto;
  	box-shadow: 1px 3px 8px rgba(0, 0, 0, .2);
  	padding: 40px 35px 50px 35px;
}

.header {
	height:150px;
	background-color:white;
}


#content_left {
	background-color:white;
	height:auto;
	padding-left:30px;
	padding-right: 0;
	padding-top:0 !important;
}

#content_right {
	background-color:white;
	height:350px;
	border-left: 1px solid lightgrey;
	line-height: 1em;
	padding-top:0 !important;
	padding-left: 40px;
	padding-right: 10px;
}

h2 {
	margin-top: 10px !important;
	font-size:30px;
	font-weight:300 !important;
}

h3 {
	margin-top: 10px !important;
	font-size:15px !important;
}

label {
  display: inline-block;
  max-width: 100%;
  font-size:14px;
  font-weight:300 !important;
  margin-top:20px;
}

.text_field {
	input {
		box-shadow: none;
		margin-top: 15px;
		border-radius: 3px;
		border: 1px solid #d8d8d8;
		width: 320px;
		min-width: 160px;
		padding-left: 8px;
		padding-right: 6px;
		height: 34px;
	}
}

.button_signup {
	input {
		width:auto !important;
		border-radius: 2px;
		color: #fff;
		border: none !important;
		padding: 0 20px;
		cursor: pointer;
		height: 34px !important;
		background: #45cae6 !important;
		text-align: center;
	}
}

li {
	padding: 0 5px 0 0;
	margin: auto auto 10px;
	font-size: 12px;
	color: #a5a5a5;
	line-height: 20px;
	font-weight:300 !important;
	letter-spacing:0.1em;
}

ul {
	line-height: 1.5em;
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

#signup-privacy {
	color: #666;
	font-size: 14px;
	text-decoration: underline
}

#logo {
	position: absolute;
	bottom: 15px;
  	left: 0;
  	height: 50px;
  	width: 100px;
}

img {
	position: absolute;
	bottom: 1px;
  	left: 0;
	max-width:100%;
	max-height:100%;
}

.logo_and_tab {
	position: absolute;
	bottom: 0;
  	left: 0;
  	height: auto;
}

#tab {
	padding:0;
	position: absolute;
	bottom: 10px;
  	right: 0;
  	height: auto;
  	width: auto;
  	.tab_title {
  		display:inline-block;
  	}
  	#table_title_left {
  			padding-right: 10px;
  			border-right: 1px solid lightgrey;
  		}
  	#table_title_right {
  			padding-left: 5px;
  		}
  	a {
  		color: #333 !important;
		font-size: 15px;
		cursor: pointer;
		text-decoration: none;
  	}
}

.phone_sentence_field {
	padding: 2px 0;
	font-size: 10px;
	color: #444;
}

.text_footer {
	font-size: 12px;
	line-height: 1.5;
	span {
		color: #7d7f80
	}
	.hyperlink_footer {
		color: #45cae6 !important;
		cursor: pointer;
		text-decoration: none;
	}
}

#footer {
	height:300px;
}

.footer_menu {
	padding-top: 70px; 
	text-align: center;
	a {
		color: #a5a5a5;
		padding: 0 2%;
		position: relative;
		border-right: 1px solid #ccc;
		height: 10px;
		letter-spacing: 0.1em;
		font-weight:300 !important;
	}
}

.footer_paragraph {
	padding-top: 18px;
	font-size: 90%;
	text-align: center;
}
.paragraph_footer {
	color: #a5a5a5;
	font-weight:300 !important;
	.hyperlink_paragraph_footer {
		color: #45cae6 !important;
		cursor: pointer;
	}
}

.securityLinks {
	text-align: center;
	height: auto;
	margin:25px;
	padding-top:45px;
}


#ssl-norton {
	height: 58px;
	display: inline-block;
	position: relative;
	left: -30px;
}

#ssl-truste {
	height: 58px;
	display: inline-block;
	position: relative;
}

.copyright {
	color: #a5a5a5;
	font-size: 11px;
	text-align:center;
}
